@keyframes float {
  0%,
  100% {
    transform: rotate(-89deg) translateY(0) translateX(0);
    filter: blur(0);
  }
  25% {
    transform: rotate(-89deg) translateY(-10px) translateX(5px);
    filter: blur(2px);
  }
  50% {
    transform: rotate(-89deg) translateY(-15px) translateX(-5px);
    filter: blur(3px);
  }
  75% {
    transform: rotate(-89deg) translateY(-8px) translateX(3px);
    filter: blur(1.5px);
  }
}

@keyframes floatReverse {
  0%,
  100% {
    transform: translateY(0) translateX(0);
    filter: blur(0);
  }
  25% {
    transform: translateY(-8px) translateX(-5px);
    filter: blur(2px);
  }
  50% {
    transform: translateY(-12px) translateX(5px);
    filter: blur(3.5px);
  }
  75% {
    transform: translateY(-10px) translateX(-3px);
    filter: blur(1.5px);
  }
}

@keyframes rotateBlur {
  0%,
  100% {
    transform: rotate(0deg);
    filter: blur(0);
  }
  25% {
    transform: rotate(-5deg);
    filter: blur(2px);
  }
  50% {
    transform: rotate(5deg);
    filter: blur(3px);
  }
  75% {
    transform: rotate(-3deg);
    filter: blur(1.5px);
  }
}

@keyframes leafMove {
  0%,
  100% {
    left: 7%;
    filter: blur(0);
  }
  50% {
    left: 12%;
    filter: blur(2.5px);
  }
}

@keyframes fire {
  0% {
    background-position: center 0px, center 0px, 50% 100%, center center;
  }
  100% {
    background-position: center -500px, center -650px, 50% 100%, center center;
  }
}

@keyframes lightGlow {
  0% {
    opacity: 0.2;
    filter: brightness(1);
  }
  50% {
    opacity: 0.5;
    filter: brightness(1.3) drop-shadow(0 0 40px rgba(255, 255, 255, 0.6));
  }
  100% {
    opacity: 0.2;
    filter: brightness(1);
  }
}

@keyframes scrollInfinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes lightning-flash {
  0%,
  100% {
    opacity: 0.3;
    filter: brightness(1.0) drop-shadow(0 0 5px rgba(255, 255, 255, 0.3));
  }
  10%,
  15% {
    opacity: 1;
    filter: brightness(1.7) drop-shadow(0 0 20px rgba(255, 255, 255, 0.8));
  }
  12%,
  17% {
    opacity: 0.5;
    filter: brightness(1.2) drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
  }
  20%,
  90% {
    opacity: 0.3;
    filter: brightness(1) drop-shadow(0 0 5px rgba(255, 255, 255, 0.3));
  }
}